body {
  font-family: "Montserrat";
  text-align: center;
}
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
  /* height: 100vh;
  overflow: hidden; */
}
h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 14% 7%;
}

/* Navigation bar---------- */
.navbar {
  padding: 0 0 1.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* ----Download button----- */
.download-btn {
  margin: 5% 3% 3% 0;
}

/*  ---- Title img------ */
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* -----------features section-------- */
#features {
  background-color: #fff;
  padding: 7% 14%;
  position: relative;
  z-index: 1;
  /* top: 10; */
}

/* icon in features */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  color: gray;
}
.featured-box {
  padding: 4.5%;
}

/* ----Testimonial Section---- */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}
.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* ----pricing----- */
#pricing {
  padding: 100px;
}

/* .btn {
  width: 90%;
} */

.pricing-col {
  padding: 3% 2%;
}

/* -----cat ----- */
#cta {
  padding: 5% 14%;
  color: #fff;
  background-color: #ff4c68;
}

/* ---footer--- */
#footer {
  padding: 3%;
  text-align: center;
  font-size: medium;
}

.contact {
  margin: 20px;
  font-size: larger;
}
/* media */

@media (max-width: 1080px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .title-image {
    width: 80%;
  }
  #pricing {
    padding: 1% 8%;
  }
  .testimonials-img {
    width: 18%;
  }
  .press-img {
    width: 18%;
    margin: 8px 8px 30px;
  }
}
